@model Gro.ViewModels.Pages.AppPages.DeliveryAssurance.DeliveryAssuranceOverviewViewModel

@{
    Layout = null;
}

<html>
<head>
    <title></title>
    @*<link href="~/Static/pdf/headings-personal.css" rel="stylesheet" />
        <link href="~/Static/pdf/pdfStyle.css" rel="stylesheet"/>*@
    <style type="text/css">
        @@font-face {
            font-family: 'clarendonur';
            src: url('~/Static/pdf/Fonts/clarendonurw-med-webfont.eot');
            src: url('~/Static/pdf/Fonts/clarendonurw-med-webfont.eot#iefix') format('embedded-opentype'), url('~/Static/pdf/Fonts/clarendonurw-med-webfont.woff') format('woff'), url('~/Static/pdf/Fonts/clarendonurw-med-webfont.ttf') format('truetype');
            font-weight: normal;
            font-style: normal;
        }

        h1,
        h2,
        h3,
        h4,
        h5 {
            color: #666666;
            margin-top: 0;
            line-height: normal;
        }

        h1 {
            font-size: 30px;
            margin-bottom: 5px;
            margin-top: 0;
            padding: 0;
            line-height: 32px;
        }

            h1.search {
                margin-bottom: 0;
            }

        h2 {
            font-size: 24px;
            margin-bottom: 10px;
            color: #7ab800;
            line-height: 26px;
        }

        h3 {
            font-size: 18px;
            margin-bottom: 10px;
            line-height: 20px;
        }

        h4 {
            font-size: 16px;
            margin-bottom: 10px;
            line-height: 18px;
        }

        h5 {
            font-size: 12px;
            margin-bottom: 0;
            line-height: 14px;
        }

        h1.green,
        h1.clarendonurwgreen,
        h2.green,
        h2.clarendonurwgreen,
        h3.green,
        h3.clarendonurwgreen,
        h4.green,
        h4.clarendonurwgreen,
        .module h4 {
            color: #7ab800;
        }

            h1.green a,
            h1.clarendonurwgreen a,
            h2.green a,
            h2.clarendonurwgreen a,
            h3.green a,
            h3.clarendonurwgreen a,
            h4.green a,
            h4.clarendonurwgreen a,
            .module h4 a {
                color: #7ab800;
            }

        .module h4 {
            padding-bottom: 10px;
            background: url(~/Static/images/border_dotted.png) repeat-x -1px bottom;
        }

        h2.clarendonurw {
            color: #666666;
        }

        h1.brown,
        h1.clarendonurwbrown,
        h2.brown,
        h2.clarendonurwbrown,
        h3.brown,
        h3.clarendonurwbrown,
        h4.brown,
        h4.clarendonurwbrown {
            color: #774a39;
        }

        h4.blue,
        h4.clarendonurwblue {
            color: #00aef0;
        }

        h4.clarendonurw,
        h4.clarendonurwgreen,
        h4.clarendonurwblue {
            font-size: 16px;
        }

        .clarendonurw,
        .clarendonurwgreen,
        .clarendonurwblue,
        .clarendonurwbrown,
        .blue,
        .green,
        .brown,
        .module h1,
        .module h2,
        .module h3,
        .module h4,
        .module h5,
        .module h6 {
            font-family: 'clarendonur', Arial;
        }

        .wysiwyg h2,
        .wysiwyg h3 {
            font-family: 'clarendonur', Arial;
            color: #7ab800;
        }

            .wysiwyg h2 a,
            .wysiwyg h3 a {
                color: #7ab800;
            }

        body {
            font: 14px Arial;
        }

        table {
            font: 14px Arial;
        }

        h1,
        h2,
        h3,
        h4,
        h5 {
            font-weight: normal;
            font-style: normal;
        }
    </style>
</head>
<body>
    <table style="width: 100%;">
        <tr>
            <td>
                <img src="~/Static/images/logo.gif" alt="logo" />
            </td>
            <td>
                <h2 style="text-align: right; color: #000; padding-right: 120px;">@Model.DeliveryAssurance.IONumber</h2>
            </td>
        </tr>
    </table>

    <table style="margin-left: 25px;">
        <tr>
            <td>@Model.CurrentPage.Header1 </td>
        </tr>
        <tr>
            <td>@Model.CurrentPage.Header2 </td>
        </tr>
        <tr>
            <td>@Model.CurrentPage.Header3 </td>
        </tr>
    </table>


    <table style="width: 100%; margin-left: 25px;">
        <tr>
            <td>@Model.CurrentPage.Header4 </td>
            <td style="text-align: right;">
                <h1 style="color: #000; padding-right: 25px;">@Html.Translate("/lantBruk/leveransForsakran/deliveryAssurance") </h1>
            </td>
        </tr>
    </table>

    <table style="margin-left: 25px;">
        <tr>
            <td style="width: 180px;"><b>@Html.Translate("/lantBruk/leveransForsakran/overview/supplierNumber") </b></td>
            <td>@Model.DeliveryAssurance.CustomerNumber</td>
            <td style="width: 10px;">&nbsp;</td>
            <td style="width: 150px;"><b>@Html.Translate("/lantBruk/leveransForsakran/overview/customerOrderNumber") </b></td>
            <td>@Model.DeliveryAssurance.KundorderNr</td>
        </tr>
        <tr>
            <td><b>@Html.Translate("/lantBruk/leveransForsakran/overview/supplier") </b></td>
            <td>@Model.DeliveryAssurance.CustomerName</td>
            <td style="width: 10px;">&nbsp;</td>
            <td style="width: 150px;"><b>@Html.Translate("/lantBruk/leveransForsakran/overview/ghg") </b></td>
            <td>@Model.DeliveryAssurance.GHGvarde</td>
        </tr>
        <tr>
            <td><b>@Html.Translate("/lantBruk/leveransForsakran/overview/supplierAddress") </b></td>
            <td>@Model.DeliveryAssurance.Address.Street</td>
            <td style="width: 10px;">&nbsp;</td>
            <td style="width: 150px;"><b>Kunds ordernummer</b></td>
            <td>@Model.DeliveryAssurance.KundsOrderNr</td>
        </tr>
        <tr>
            <td></td>
            <td>@Model.DeliveryAssurance.Address.City</td>
            <td style="width: 10px;">&nbsp;</td>
            <td style="width: 150px;"></td>
            <td></td>
        </tr>
        <tr>
            <td><b>NUTS-kod</b></td>
            <td>@Model.DeliveryAssurance.Address.NutsCode</td>
            <td style="width: 10px;">&nbsp;</td>
            <td style="width: 150px;"></td>
            <td></td>
        </tr>
    </table>

    <hr style="margin: 60px 0 60px 25px;" />

    <table style="margin-left: 25px;">
        <tr>
            <td><b>@Html.Translate("/lantBruk/leveransForsakran/overview/item") </b></td>
            <td>
                <span>@Model.DeliveryAssurance.ItemName</span>
            </td>
        </tr>
        <tr>
            <td><b>@Html.Translate("/lantBruk/leveransForsakran/overview/deliveryDate") </b></td>
            <td>@Model.DeliveryAssurance.DeliveryDate</td>
        </tr>
        @if (!string.IsNullOrWhiteSpace(Model.DeliveryAssurance.DepaAvtal))
        {
            <tr>
                <td><b>@Html.Translate("/lantBruk/leveransForsakran/overview/agreement") </b></td>
                <td>
                    <span>@Model.DeliveryAssurance.DepaAvtal)</span>
                </td>
            </tr>
        }
        <tr>
            <td style="padding-bottom: 20px;"><b>@Html.Translate("/lantBruk/leveransForsakran/overview/quantity") </b></td>
            <td style="padding-bottom: 20px;">@Model.DeliveryAssurance.Quantity</td>
        </tr>

        @if (Model.DeliveryAssurance.Gardshamtning)
        {
            <tr>
                <td><b>@Html.Translate("/lantBruk/leveransForsakran/overview/lorryType") </b></td>
                <td>@Html.Translate("/lantBruk/leveransForsakran/overview/farmCollection") </td>
            </tr>

            <tr>
                <td style="padding-bottom: 20px;"><b>@Html.Translate("/lantBruk/leveransForsakran/overview/transportType") </b></td>
                <td style="padding-bottom: 20px;">@Model.DeliveryAssurance.LorryTypeDesc</td>
            </tr>
        }
        else
        {
            <tr>
                <td><b>@Html.Translate("/lantBruk/leveransForsakran/overview/lorryType") </b></td>
                <td>@Html.Translate("/lantBruk/leveransForsakran/overview/ownTransport") </td>
            </tr>
            <tr>
                <td style="padding-bottom: 20px;"><b>@Html.Translate("/lantBruk/leveransForsakran/overview/warehouse") </b></td>
                <td style="padding-bottom: 20px;">@Model.DeliveryAssurance.WarehouseDesc</td>
            </tr>
        }


        <tr>
            <td><b>@Html.Translate("/lantBruk/leveransForsakran/overview/dried") </b></td>
            <td>
                <span>@Model.DeliveryAssurance.TorkatDesc</span>
            </td>
        </tr>
        <tr>
            <td><b>@Html.Translate("/lantBruk/leveransForsakran/overview/red") </b></td>
            <td>
                <span>@Model.DeliveryAssurance.RedDesc</span>
            </td>
        </tr>
        <tr>
            <td><b>@Html.Translate("/lantBruk/leveransForsakran/overview/strafork") </b></td>
            <td>
                <span>@Model.DeliveryAssurance.StraforkortatDesc</span>
            </td>
        </tr>
        <tr>
            <td style="padding-bottom: 20px;"><b>@Html.Translate("/lantBruk/leveransForsakran/overview/slam") </b></td>
            <td style="padding-bottom: 20px;">
                <span>@Model.DeliveryAssurance.SlamDesc</span>
            </td>
        </tr>

        <tr>
            <td><b>@Html.Translate("/lantBruk/leveransForsakran/overview/supposedToBeHarvested") </b></td>
            <td>@Model.DeliveryAssurance.HarvestYear</td>
        </tr>

        <tr>
            <td style="padding-bottom: 20px;"><b>@Html.Translate("/lantBruk/leveransForsakran/overview/otherInfo") </b></td>
            <td style="padding-bottom: 20px;">@Model.DeliveryAssurance.OtherInfo</td>
        </tr>

        <tr>
            <td colspan="2" style="padding-bottom: 20px;">@Model.CurrentPage.MainBody </td>
        </tr>
    </table>
</body>
</html>
