@using Gro.Core.ContentTypes.Utils
@using EPiServer.Editor
@model Gro.ViewModels.Pages.AppPages.PurchasingAgreement.PurchasingAgreementViewModel

<div class="lm__block lm__mina-avtal has-separator no-margin lm__block-contain-float">
    <div class="u-1/1">
        <h1 class="lm__page-title">@Model.CurrentPage.Heading
            <a href="#" class="lm__info link-to-open-popup" id="agrement-info"><i class="fa fa-info-circle fa-info-page-title"></i></a>
        </h1>
        <div class="lm__modal__wrapper hidden" id="agreement-introduce">
            <div class="mask"></div>
            <div class="lm__wide-modal author-inform-form">
                <h3 class="lm__wide-modal__title">
                    @Model.CurrentPage.Heading
                </h3>
                @Html.PropertyFor(x => x.CurrentPage.Introduce)
                <div class="lm__wide-modal__close-btn">
                    <a href=""></a>
                </div>
            </div>
        </div>

        <div class="layout layout--small">
            <div class="layout__item u-1/1 u-1/2-tablet">
                <div class="author-inform-form__column author-inform-form__column-full solid-padding-box gray-background">
                    <span class="lm__control-label no-margin">Prisområde:</span><span class="no-margin">@Model.SelectedPriceArea.PriceAreaName</span>
                </div>
            </div>
            <div class="layout__item u-1/1">
                <div class="layout layout--small">
                    <div class="layout__item u-1/1 u-1/1-tablet u-1/3-desktop lm__row-margin agreement-element">
                        <span>Gröda</span>
                        <div class="u-1/1-tablet u-1/1-desktop u-1/1 lm__element-margin-top">
                            <ul class="lm__form-dropdown type-3 productDropdown">
                                <li class="showcase ">
                                    <a href="#">Välj gröda</a>
                                    <ul class="dropdown ">
                                        @if (Model.Products != null)
                                        {
                                            foreach (var item in Model.Products)
                                            {
                                                <li data-value="@item.ProductItemId">
                                                    <a href="javascript:void(0)" onclick='PurchaseAgreement.getGrainTypesForSpotAgreement("@Model.SelectedPriceArea.PriceAreaId", "@item.ProductItemId")'>@item.ProductItemName</a>
                                                </li>
                                            }
                                        }
                                    </ul>
                                    <input type="hidden" class="form-element" name="ProductItemId" id="ProductItemId"/>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="layout__item u-1/1 u-1/1-tablet u-1/3-desktop lm__row-margin agreement-element disabled">
                        <span>Sort</span>
                        <div class="u-1/1-tablet u-1/1-desktop u-1/1 lm__element-margin-top">
                            <ul class="lm__form-dropdown type-3 grainTypeDropdown">
                                <li class="showcase ">
                                    <a href="#">Välj sort</a>
                                    <ul class="dropdown">
                                        @foreach (var item in Model.GrainTypes)
                                        {
                                            <li data-value="@item.ProductItemId">
                                                <a href="javascript:void(0)">@item.ProductItemName</a>
                                            </li>
                                        }
                                    </ul>
                                    <input type="hidden" class="form-element" name="GrainType" id="GrainType"/>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="layout__item u-1/1">
                <div class="layout layout--small">
                    <div class="layout__item u-1/1 u-1/1-tablet u-1/3-desktop lm__row-margin agreement-element disabled">
                        <span>Leveransperiod</span>
                        <div class="u-1/1-tablet u-1/1-desktop u-1/1 lm__element-margin-top">
                            @Html.Partial("~/Views/AppPages/PurchasingAgreementPage/Partial/PricePeriodsList.cshtml", Model.Periods)
                        </div>
                    </div>
                </div>
            </div>

            <div class="layout__item u-1/1 lm__row-margin agreement-detail hidden">
                <div class="author-inform-form__column author-inform-form__column-full solid-padding-box gray-background">
                    <div class="u-1/1 lm__desktop-display-only">
                        <div class="inline-padding-right-25px">
                            <span class="lm__control-label no-margin">Gröda:</span><span class="no-margin" id="product-item-name"></span>
                        </div>
                        <div class="inline-padding-right-25px">
                            <span class="lm__control-label no-margin">Sort:</span><span class="no-margin" id="grain-type"></span>
                        </div>
                        <div class="inline-padding-right-25px">
                            <span class="lm__control-label no-margin">Period:</span><span class="no-margin" id="lable_Period"></span>
                        </div>
                    </div>
                    <div class="u-1/1">
                        <h2 class="no-margin">
                            @*@Model.ReferencePrice SEK*@
                        </h2>
                    </div>
                </div>
            </div>
        </div>
        <div id="agreement-loader" class="loader-wrapper" style="display: none;">
            <div class="loader"></div>
        </div>
    </div>
</div>

<div class="agreement-detail hidden">
    @Html.Partial("~/Views/AppPages/PurchasingAgreementPage/Partial/AgreementForms.cshtml", Model)
</div>