@using Gro.Helpers
@using Gro.Core.ContentTypes.Utils
@using Gro.Core.ContentTypes.Pages.Organization
@model Gro.ViewModels.IPageViewModel<AddUserToOrganizationPage>

<script type="text/javascript">
    window["roles"] = '@Html.Raw(ViewData["roles"])';
    window["profileRoles"] = '@Html.Raw(ViewData["profileRoles"])';
</script>

@if(!string.IsNullOrWhiteSpace((string)ViewData["serialNumber"]))
{
    <script type="text/javascript">
        window["serialNumber"] = '@Html.Raw(ViewData["serialNumber"])';
    </script>
}
<input id="LoginBankAccountUrl" hidden type="hidden" value="@Request.GetLoginBankAccountUrl()" />
<section class="lm__contents">
    <div class="wrapper">
        <div class="layout  layout--large">
            <div class="layout__item u-1/1">
                <a href="@ContentExtensions.GetPageUnderSettingUrl(s=>s.MyAccountLink)" class="lm__back-link small-distance-bottom"><i class="fa fa-arrow-left" aria-hidden="true"></i>Till Mitt konto</a>
            </div>
            <div class="layout__item u-1/1 u-2/3-tablet">
                <div class="lm__block redigera-block" id="add-user-to-organization-app">
                    <div class="lm__block-box no-padding-bottom">
                        <h1 class="lm__page-title no-margin">@Html.PropertyFor(x => x.CurrentPage.Heading)</h1>
                    </div>
                </div>
                @if (Html.IsDebug())
                {
                    <script type="text/javascript" src="~/Static/dist/scripts/addUserToOrganization.js"></script>
                }
                else
                {
                    <script type="text/javascript" src="~/Static/dist/scripts/addUserToOrganization.production.js"></script>
                }
            </div>

            <div class="layout__item u-1/1 u-1/3-tablet">
                @if (Model.CurrentPage.GetLevel() >= 3)
                {
                    @Html.Action("GetRightNav", "Navigation", new { page = Model.CurrentPage });
                }
            </div>
        </div>
    </div>
</section>
