@using Gro.Helpers;
@using Gro.ViewModels;
@using Gro.Core.ContentTypes.Pages.Registration;
@model PageViewModel<RegisterAccountPage>

<div class="hidden" id="MembershipIntro">
    @Html.PropertyFor(m => m.CurrentPage.MembershipIntro)
</div>
<div class="hidden" id="MemershipDescription">
    @Html.PropertyFor(m => m.CurrentPage.MembershipDescription)
</div>
<div class="hidden" id="MembershipExplanation">
    @Html.PropertyFor(m => m.CurrentPage.MembershipExplanation)
</div>

<input hidden type="hidden" id="idNumber" value="@ViewData["idNumber"]" />

<section class="lm__contents">
    <div class="wrapper">
        <div class="layout  layout--large">
            <div class="layout__item u-1/1">
                <a href="#" class="lm__back-link small-distance-bottom"><i class="fa fa-arrow-left" aria-hidden="true"></i>Till Mitt konto</a>
                <h1 class="lm__page-title">Registrera konto hos Lantmännen och LM<sup>2</sup></h1>
            </div>

            <div class="layout__item u-1/1 u-2/3-tablet">
                <div class="lm__block" id="registerAccount"></div>
                @if (Html.IsDebug())
                {
                    <script type="text/javascript" src="~/Static/dist/scripts/nonPrivateFirmRegistration.js"></script>
                }
                else
                {
                    <script type="text/javascript" src="~/Static/dist/scripts/nonPrivateFirmRegistration.production.js"></script>
                }
            </div>

            <div class="layout__item u-1/1 u-1/3-tablet">
                @Html.PropertyFor(x => x.CurrentPage.RightContent)
            </div>
        </div>
    </div>
</section>
